*.zip
results/
proteomics/fragpipe-24.0
proteomics/MSFragger-master
proteomics/fragpipe_headless.md
*.gtf
*.fa
*.fasta
*.gz
*.raw
*.mzML
*.fragtmp
*.mzBIN
*.fas
*.pepindex
*.ms1bin
*.mzBIN_calibrated
*.pin
*.pepXML